services:
  streamlinkrecorder:
    image: crashahotrod/docker-better-streamlink-recorder-twitch
    container_name: streamlinkrecorder
    environment:
      - MODE=kickortwitch
      - CHANNEL=channelToMonitorHere
      - CLIENT_ID=yourClientID
      - CLIENT_SECRET=yourClientSecret
      - TWITCH_USER_TOKEN=yourUserToken #Disable Ads on Subscribed channels https://streamlink.github.io/cli/plugins/twitch.html#authentication
    restart: always
    volumes:
      - "streamlink_scratch:/etc/streamlink/scratch"
      - "streamlink_storage:/storage"