name: Check Dependencies for Updates

on:
  schedule:
    - cron: '15 * * * *'
  workflow_dispatch:

jobs:
  check_and_update:
    runs-on: ubuntu-latest
    env:
      REPO_A_OWNER: 'streamlink'
      REPO_A_NAME: 'streamlink'
      REPO_A_BRANCH: 'master'
      FILE_TO_UPDATE: 'Dockerfile'

    steps:
    - name: Checkout docker-better-streamlink-recorder
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.REPO_PAT }}

    - name: Get latest commit hash from streamlink repo
      id: get_latest_hash
      run: |
        MAX_ATTEMPTS=3
        ATTEMPT=1
        while [ $ATTEMPT -le $MAX_ATTEMPTS ]; do
          LATEST_HASH=$(curl -s "https://api.github.com/repos/${{ env.REPO_A_OWNER }}/${{ env.REPO_A_NAME }}/commits/${{ env.REPO_A_BRANCH }}" | jq -r .sha)
        
          if [ "$LATEST_HASH" == "null" ] || [ -z "$LATEST_HASH" ]; then
            ATTEMPT=$((ATTEMPT + 1))
            echo "Error: Could not retrieve hash from Streamlink repo. Check github.com/streamlink/streamlink."
            echo "Waiting 5 seconds before next retry..."
            sleep 5
          else
            echo "LATEST_HASH=$LATEST_HASH" >> $GITHUB_OUTPUT
            echo "Retrieved latest hash from Streamlink repo: $LATEST_HASH"
            exit 0
          fi
        done
        exit 1
      
    - name: Read current Streamlink commit hash from Dockerfile
      id: read_current_hash
      run: |
        CURRENT_HASH=$(grep 'ENV streamlinkCommit=' ${{ env.FILE_TO_UPDATE }} | cut -d'=' -f2 | tr -d ' ' | tr -d '"')
        echo "CURRENT_HASH=$CURRENT_HASH" >> $GITHUB_OUTPUT
        echo "Current hash in our repo: $CURRENT_HASH"

    - name: Get latest tag from Youtubeuploader repo
      id: get_ytu_latest_tag
      run: |
        MAX_ATTEMPTS=3
        ATTEMPT=1
        while [ $ATTEMPT -le $MAX_ATTEMPTS ]; do
          release_json=$(curl https://api.github.com/repos/porjo/youtubeuploader/releases/latest)
          LATEST_TAG=$(echo "$release_json" | jq -r '.tag_name')
          if [ "$LATEST_TAG" == "null" ] || [ -z "$LATEST_TAG" ]; then
            ATTEMPT=$((ATTEMPT + 1))
            echo "Error: Could not retrieve tag from Youtubeuploader repo. Check github.com/porjo/youtubeuploader/releases/latest."
            echo "Waiting 5 seconds before next retry..."
            sleep 5
          else
            echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_OUTPUT
            echo "Retrieved latest tag from youtubeuploader repo: $LATEST_TAG"
            exit 0
          fi
        done
        exit 1

    - name: Read current Youtubeuploder release tag from Dockerfile
      id: read_current_ytu_tag
      run: |
        CURRENT_YTU_TAG=$(grep 'ARG YTU_RELEASE=' ${{ env.FILE_TO_UPDATE }} | cut -d'=' -f2 | tr -d ' ' | tr -d '"')
        echo "CURRENT_YTU_TAG=$CURRENT_YTU_TAG" >> $GITHUB_OUTPUT
        echo "Current hash in our repo: $CURRENT_YTU_TAG"

    - name: Check for Streamlink update
      id: check_streamlink
      if: ${{ steps.get_latest_hash.outputs.LATEST_HASH != steps.read_current_hash.outputs.CURRENT_HASH }}
      run: |
        echo "::notice::Hash has changed. Proceeding with update."
        echo "update_needed=true" >> $GITHUB_OUTPUT

    - name: Check for Youtubeuploder update
      id: check_ytu
      if: ${{ steps.get_ytu_latest_tag.outputs.LATEST_TAG != steps.read_current_ytu_tag.outputs.CURRENT_YTU_TAG }}
      run: |
        echo "::notice::Youtubeuploder tag has changed. Proceeding with update."
        echo "update_needed=true" >> $GITHUB_OUTPUT
        
    - name: Update file with new streamlink hash
      if: ${{ steps.check_streamlink.outputs.update_needed == 'true' }}
      run: |
        NEW_HASH="${{ steps.get_latest_hash.outputs.LATEST_HASH }}"
        sed -i "s/^ENV streamlinkCommit=.*/ENV streamlinkCommit=$NEW_HASH/" ${{ env.FILE_TO_UPDATE }}

    - name: Update file with new Youtubeuploder tag
      if: ${{ steps.check_ytu.outputs.update_needed == 'true' }}
      run: |
        NEW_TAG="${{ steps.get_ytu_latest_tag.outputs.LATEST_TAG }}"
        sed -i "s/^ARG YTU_RELEASE=.*/ARG YTU_RELEASE=$NEW_TAG/" ${{ env.FILE_TO_UPDATE }}

    - name: Commit changes and push to our repo
      if: ${{ steps.check_streamlink.outputs.update_needed == 'true' || steps.check_ytu.outputs.update_needed == 'true' }} 
      run: |
        message="Automated:"
        if [ ${{ steps.check_streamlink.outputs.update_needed == 'true' }} ]; then
          message="${message} Update Streamlink commit hash to ${{ steps.get_latest_hash.outputs.LATEST_HASH }}"
        fi
        if [ ${{ steps.check_ytu.outputs.update_needed == 'true' }} ]; then
          message="${message} Update Youtubeuploader tag to ${{ steps.get_ytu_latest_tag.outputs.LATEST_TAG }}"
        fi
        git config user.name "GitHub Actions Bot"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add ${{ env.FILE_TO_UPDATE }}
        git commit -m "${message}"
        git push
